body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

.image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: blue;
    background-size: cover;
    min-height: 50%;
  
    background-attachment: fixed;
  }

h3 {
    letter-spacing: 5px;
    font-size: 20px;
    color: white;
    text-align:center;
  }

  h2 {
    text-align:center;
    letter-spacing:5px;
    text-transform: uppercase;
  }

  a {
    color: white;
  }

  a:hover{
    background-color:rgb(34, 34, 34);
  }

  p {
    font-size:20px;
    text-align:center;
  }

  ul{
    list-style-type: none;
    text-align:center;
    font-size:18px;
  }

  dl{
    text-align:center;
  }

  dt{
    font-size:20px;
  }

  dd{
    font-size: 17px;
  }

.textSection {
    background-color: blue;
    padding:50px 80px;
    color:white;

  }

  .navigation{
    padding: 10px 80px;
    background-color: black;
  }

  .link{
    padding:10px 10px;
    text-decoration:none;
  }
